head
    title #{title}
    link(rel='stylesheet', href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous")
body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
      a(href="/",class="navbar-brand") HOME
      div#navbarNav.collapse.navbar-collapse
        ul.navbar-nav
          li.nav-item
            a(href="/list",class="nav-link") Liste des photos
          li.nav-item
            a(href="/add",class="nav-link") Ajouter une photo

    div(class="card mx-auto my-4",style="width: 70rem;")
      div.card-body.p-5
        h3.card-title.mb-4 Modifier la photo "#{imgTitle}"
        form(action="/img_update",method="POST")
          div.form-group
            label(for="formControlInput") Titre de la photo 
            input(type="text",name="titleImg",class="form-control mb-4",id="formControlInput",value=imgTitle,placeholder=imgTitle)
            label(for="formControlFile") Importer une nouvelle image
            input(type="text",name="urlImg",class="form-control",id="formControlInput2",value=imgUrl,placeholder="Insérez l'URL de l'image")
            input(type="hidden",name="_id",value=imgID)
            button(type="submit",class="mt-5 btn btn-outline-success") Envoyer
