head
    title #{title}
    link(rel='stylesheet', href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous")
body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
        a(href="/",class="navbar-brand") HOME
        div#navbarNav.collapse.navbar-collapse
            ul.navbar-nav
                li.nav-item
                    a(href="/list",class="nav-link") Liste des photos
                li.nav-item
                    a(href="/add",class="nav-link") Ajouter une photo

    div(id="carouselExampleControls",class="carousel slide w-50 mx-auto",data-ride="carousel")
        div.carousel-inner
            each img in imgs
                div.carousel-item
                    img(class="d-block w-100",src=img.url,alt="First slide")
        a(class="carousel-control-prev",href="#carouselExampleControls",role="button",data-slide="prev")
            span(class="carousel-control-prev-icon",aria-hidden="true")
            span(class="sr-only") Previous
        a(class="carousel-control-next",href="#carouselExampleControls",role="button",data-slide="next")
            span(class="carousel-control-next-icon",aria-hidden="true")
            span(class="sr-only") Next


script.
    $('.carousel-item:first').addClass("active");
    console.log($('.carousel-item').val());
