head
    title #{title}
    link(rel='stylesheet', href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous")
body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
      a(href="/",class="navbar-brand") HOME
      div#navbarNav.collapse.navbar-collapse
        ul.navbar-nav
          li.nav-item.active
            a(href="/list",class="nav-link") Liste des photos
          li.nav-item
            a(href="/add",class="nav-link") Ajouter une photo

    div.card-deck.p-5
      each img in imgs
        div.card
          img(class="card-img-top",src=img.url,alt="Card img cap")
          div.card-body
            h5.card-title= img.title
            a(href="/list/"+img._id+"/edit",class="btn btn-outline-info btn-block") Modifier
            form(action="/delete/"+img._id,method="POST")
              input(type="hidden",name="del",value=imgID)
              button(type="submit",class="mt-5 btn btn-outline-danger btn-block") Supprimer
